{{#partial "content"}}
    <div >
        <div class="jumbotron text-center">
            <h1>Success!</h1>

            Your animal has been added!!!!!!!!

            <a href="/" id="go">Go Back</a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}